.SignOutBtn{
    padding: 0.3rem;
    background-color: transparent;
    font-size: large;
    border: none;
    display: inline;
    float: right;
    color: white;
}

.icons{
    cursor: pointer;
    color: white;
    font-size: xx-large;
  }

@media (max-width:786px) {
    .SignOutBtn{
      padding: 0.3rem;
      font-size: small;
      width:none;
  }

  .icons{
    font-size:medium;
  }

}
    