
.preferences{
     display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
    z-index: 1;
}

.prefForm{
    padding: 2rem;
    /* display: flex;
    align-items: center;
    border: none; */
    /* flex-direction: column; */
}

article{
    margin: 0.5rem;
    /* background-color: #ff0000; */
}