.chatUserImage {
  border-radius: 50%;
  height: 45px;
  margin-top: -20px;
  border: 2px solid black;
}

.Chat{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.message {
  display: flex;
  padding: 20px 10px 0 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164 164 164);
  align-items: center;
}
.sent {
  background-color: rgba(180, 0, 0, 0.431);
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  text-align: end;
  margin: 1rem;
  float: right;
  margin-left: auto;
  max-width: 12rem;
}
.received {
  border: 1px solid rgba(63, 62, 62, 0.685);
  background-color:rgba(63, 62, 62, 0.685);
  border-top-left-radius: 1000px;
  float: left;
  margin-right: auto;
  max-width: 12rem;
  margin: 1rem;
}

.messagesCont {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: brown;
  margin-top: 8rem;
  width: 35%;
  height: 75vh;
  border-radius: 0.3rem;

}

.messageBoard{
  position: fixed;
  display: flex;
  justify-content: flex-start;
  width: 35%;
  height: 12vh;
  border-radius: 0.3rem;
  bottom: 20px;
  z-index: 1;
  border-top: 1px solid rgba(63, 62, 62, 0.685);
  padding: 10px;
  padding-bottom: 30px;
  background-color: #4e4a4aa1;
}
.sendMessage {
  width:100%;
 }

.chatMessageInput{  
  padding: 0.8rem;
  margin: 0.3rem;
  width: 90%;
  border-radius: 0.3rem;
}
.icons{
  cursor: pointer;
  color: white;
  font-size: xx-large;
}
.sendMessage button{
  background-color: transparent;
  border: none;
}


@media (max-width: 775px) {
  p {
    font-size: 20px;
  }
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
  img {
    height: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
  .sent {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
  img {
    height: 30px;
    margin-top: -7px;
  }
}

