
.searchInput{
  width: 100rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: silver;
}

.searchBtn{
  padding: 0.5rem;
    font-size: larger;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.HomePageTrailer{
  width: 100%;
  /* height: 50vh; */
}

@media (max-width:340px){
  .searchInput{
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  .HomePageTrailer iframe{
    position: relative;
    width: 82vw;
  }
  .searchBtn{
    font-size: small;
    margin-top: 2rem;
  }
}