*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
}

.App nav a{
  text-decoration: none;
    font-size: 20px;
    padding: 1rem;
    color: white;
    float: left;
}

.App nav a:hover{
 font-size: 20px;
 font-weight: bold;
 color: rgb(180, 0, 0);
}

.App nav {
  display: flex;
  position: fixed;
  background-color: #5c5c5c7d;
  width: 100%;
  z-index: 1;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
  justify-content: space-between;
}

.App a img {
  width: 8rem;
}

a .watchListCounter{
  position: absolute;
  border: black;
  border-radius: 50%;
  background-color: rgb(180, 0, 0);
  width: 1.5rem;
  margin: 0.1rem;
  display: inline;
}

.currentUser{
  margin: 0;
  padding: 0;
  display: contents;
}
  
.icons{
  cursor: pointer;
  color: white;
  font-size: xx-large;
}


@media (max-width:1440px) {

  .App nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
  }

    .App nav a{
    padding: 0.3rem;
    font-size: small;
  }

 .App nav a img{
  width: 3.5rem;
  margin-top: -0.3rem;
  }

  
}
@media (max-width:340px) {

 /* .App nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
  }
    */

  /* .App nav a{
    padding: 0.3rem;
    font-size: small;
  }

 .App nav a img{
  width: 3.5rem;
  margin-top: -0.3rem;
  } */

  .MainContainer{
    padding: 0;
  } 

  .HomePageTrailer iframe{
    position: relative;
    width: 82vw;
  }

  .icons{
    font-size: x-large;
  }
}